# Description des données

## Packages

In [4]:
import numpy as np
import pandas as pd
import pandas_profiling as pp


# Personnal lib
import sys                  # system 
sys.path.append('./lib') # path to the lecture's package

from data import *        # import the lecture's package

## Importation

In [5]:
test = pd.read_csv("https://www.data.mclavier.com/prj_datascience/brut_test.csv")
train = pd.read_csv("https://www.data.mclavier.com/prj_datascience/brut_train.csv")
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,30,1,28,0,1-2 Year,Yes,26891,155,270,1
1,Male,28,1,28,1,< 1 Year,No,45434,152,146,0
2,Male,32,1,47,0,1-2 Year,No,2630,157,195,1
3,Male,54,1,28,0,1-2 Year,No,41420,26,121,0
4,Male,45,1,36,0,1-2 Year,Yes,32764,124,185,1

## Pandas profiling

Avant de commencer une analyse manuelle des variables, on utilise la librairie *pandas_profiling* pour avoir une première analyse rapide de notre jeu de données.

In [10]:
profile = pp.ProfileReport(train, title = "ISFA - Groupe 1 | Insurance cross-selling")
profile.to_file("data_desc.html")

Summarize dataset: 100%|██████████| 49/49 [00:07<00:00,  6.26it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.54s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.11s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 83.08it/s]

Le rapport de *pandas_profiling* est <a href = "https://www.data.mclavier.com/prj_datascience/data_desc.html">disponible ici</a>.

## Types


On identifie les types de chaque variable du jeu de données.

In [7]:
train.dtypes

Gender                  object
Age                      int64
Driving_License          int64
Region_Code              int64
Previously_Insured       int64
Vehicle_Age             object
Vehicle_Damage          object
Annual_Premium           int64
Policy_Sales_Channel     int64
Vintage                  int64
Response                 int64
dtype: object

## Valeurs manquantes

In [17]:
train.isna().sum()

Gender                  0
Age                     0
Driving_License         0
Region_Code             0
Previously_Insured      0
Vehicle_Age             0
Vehicle_Damage          0
Annual_Premium          0
Policy_Sales_Channel    0
Vintage                 0
Response                0
dtype: int64