# Préparation des données

## Packages

In [1]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## Importation

In [18]:
train = pd.read_csv("https://www.data.mclavier.com/prj_datascience/brut_train.csv")
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,30,1,28,0,1-2 Year,Yes,26891,155,270,1
1,Male,28,1,28,1,< 1 Year,No,45434,152,146,0
2,Male,32,1,47,0,1-2 Year,No,2630,157,195,1
3,Male,54,1,28,0,1-2 Year,No,41420,26,121,0
4,Male,45,1,36,0,1-2 Year,Yes,32764,124,185,1

### Vehicle_Dammage

In [19]:
dict_cat = {'No' : 0, 'Yes' : 1}
new_damage = train.Vehicle_Damage.apply(lambda x : dict_cat[x])
train['Vehicle_Damage'] = new_damage

train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,Male,30,1,28,0,1-2 Year,1,26891,155,270,1
1,Male,28,1,28,1,< 1 Year,0,45434,152,146,0
2,Male,32,1,47,0,1-2 Year,0,2630,157,195,1
3,Male,54,1,28,0,1-2 Year,0,41420,26,121,0
4,Male,45,1,36,0,1-2 Year,1,32764,124,185,1

### Gender

In [20]:
dict_cat = {'Male' : 0, 'Female' : 1}
new_gender = train.Gender.apply(lambda x : dict_cat[x])

train['Gender'] = new_gender
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,0,30,1,28,0,1-2 Year,1,26891,155,270,1
1,0,28,1,28,1,< 1 Year,0,45434,152,146,0
2,0,32,1,47,0,1-2 Year,0,2630,157,195,1
3,0,54,1,28,0,1-2 Year,0,41420,26,121,0
4,0,45,1,36,0,1-2 Year,1,32764,124,185,1

### Age

In [21]:
ohe = OneHotEncoder(sparse=False)
one_hot_VAge = ohe.fit_transform(np.asarray(train.Vehicle_Age).reshape(-1,1))

less_than_one = [one_hot_VAge[i][1] for i in range(len(one_hot_VAge))]
one_to_two = [one_hot_VAge[i][0] for i in range(len(one_hot_VAge))]
two_and_more = [one_hot_VAge[i][2] for i in range(len(one_hot_VAge))]

train['VAge1'] = less_than_one
train['VAge2'] = one_to_two
train['VAge3'] = two_and_more

train.drop(columns = 'Vehicle_Age', inplace = True)
train.head()

,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response,VAge1,VAge2,VAge3
0,0,30,1,28,0,1,26891,155,270,1,0.0,1.0,0.0
1,0,28,1,28,1,0,45434,152,146,0,1.0,0.0,0.0
2,0,32,1,47,0,0,2630,157,195,1,0.0,1.0,0.0
3,0,54,1,28,0,0,41420,26,121,0,0.0,1.0,0.0
4,0,45,1,36,0,1,32764,124,185,1,0.0,1.0,0.0

### Policy_Sales_Channel

## Package data

Les fonctions de préparation des données présentées ci-dessous ont été regroupées dans un fichier data.py afin de permettre l'obtention rapide, et au bon format, des données pour tester différents modèles.